.sect{
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(-100%);
}
.sect1{
    opacity: 1;
    filter: blur(0);
    transition: all 0.5s;
    transform: translateX(0);
}
